.gallery {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;   
    margin: 0 5%;
}

.gallery img {
    width: 100%;
}

/* Desktop: 2x2 grid */
@media (min-width: 800px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}
