body {
    /* Default font assignments */
    font-family: "Arsenal", sans-serif;
    font-weight: 450;
    /* End Default Font Assignments */
    background-color: lightgray;
    padding-top: 3.5em;
}

title {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-size: 6rem;
}

p {
    font-weight: 400;
    font-size: 1.25rem;
}

h1 {
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

.demo {
    background-color: #cdebc5;
    color: #36454f;
}

.demo span {
    font-size: 1.2em;
}

.demo img {
    height: 2.25em;
}

byline {
    font-size: 0.5em;
    display: block;
}

@media (min-width: 680px) {
    .demo img {
        height: 2.5em;
    }
    byline {
        display: inline;
        font-size: 0.65em;
    }
}

.menu {
    background-color: #cdebc5;
    font-family: "Arsenal SC", sans-serif;
}

nav .show ~ .menu {
    background-color: #cdebc5;
    background: #cdebc5;
}

.button {
    background-color: #ffd1dc;
    color: white;
    text-decoration: none;
}

.button:hover, .button:focus {
    background-color: #e67ca8;
    color: #ffd1dc;
    text-decoration: underline;
}

footer {
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    background-color: #cdebc5;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BEGIN FONT CLASS DECLARATIONS */
/* Generated by Google Fonts */

/* Arsenal SC fonts */

.arsenal-sc-regular {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-sc-bold {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-sc-regular-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-sc-bold-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Arsenal fonts */

.arsenal-regular {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-bold {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-regular-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-bold-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* END FONT CLASS DECLARATIONS */

.gallery {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;   
    margin: 0 5%;
}

.gallery img {
    width: 100%;
}

/* Desktop: 2x2 grid */
@media (min-width: 800px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
}
