body {
    /* Default font assignments */
    font-family: "Arsenal", sans-serif;
    font-weight: 450;
    /* End Default Font Assignments */
    background-color: lightgray;
    padding-top: 3.5em;
}

title {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-size: 6rem;
}

p {
    font-weight: 400;
    font-size: 1.25rem;
}

h1 {
    font-weight: 700;
    font-size: 4rem;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

.demo {
    background-color: #cdebc5;
    color: #36454f;
}

.demo span {
    font-size: 1.2em;
}

.demo img {
    height: 2.25em;
}

byline {
    font-size: 0.5em;
    display: block;
}

@media (min-width: 680px) {
    .demo img {
        height: 2.5em;
    }
    byline {
        display: inline;
        font-size: 0.65em;
    }
}

.menu {
    background-color: #cdebc5;
    font-family: "Arsenal SC", sans-serif;
}

nav .show ~ .menu {
    background-color: #cdebc5;
    background: #cdebc5;
}

.button {
    background-color: #ffd1dc;
    color: white;
    text-decoration: none;
}

.button:hover, .button:focus {
    background-color: #e67ca8;
    color: #ffd1dc;
    text-decoration: underline;
}

.home-grid-container {
    display: grid;
    padding: 1em 5%;
    grid-template-columns: 1fr;
    row-gap: 0.5em;
    align-items: start;

    section {
        position: relative;
        width: 100%;
        aspect-ratio: 3/2;
        padding: 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }

        h3 {
            transition: all 0.6s ease-in-out;
            font-size: 2em;
            position: absolute;
            width: 100%;
            bottom: 0%;
            text-align: left;
            padding: 0 0 0 5%;
            background-color: #B42261;
            color: #ffd1dc;
            opacity: 60%;
        }
    }

    section:hover, section:focus {
        transition: all 0.6s ease-in-out;
        h3 {
            opacity: 85%;
            background-color: #ffd1dc;
            color: #B42261;
            text-decoration: underline;
        }
    }
}

@media (min-width: 680px) {
    .home-grid-container {
        column-gap: 1em;
        grid-template-columns: 1fr 1fr;
    }
}

#booknow {
    width: 80%;
    margin: auto;

    .button {
        width: 100%;
        background-color: #B42261;
        color: #ffd1dc;
    }
    .button:focus, .button:hover {
        background-color: #ffd1dc;
        color: #B42261;
    }
}

footer {
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    background-color: #cdebc5;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BEGIN FONT CLASS DECLARATIONS */

/* Arsenal SC fonts */

.arsenal-sc-regular {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-sc-bold {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-sc-regular-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-sc-bold-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Arsenal fonts */

.arsenal-regular {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-bold {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-regular-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-bold-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* END FONT CLASS DECLARATIONS */
