body {
    /* Default font assignments */
    font-family: "Arsenal", sans-serif;
    font-weight: 450;
    /* End Default Font Assignments */
    background-color: lightgray;
    padding-top: 3.5em;
}

title {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-size: 96pt;
}

p {
    font-weight: 400;
    font-size: 20pt;
}

h1 {
    font-weight: 700;
    font-size: 60pt;
}

h2 {
    font-weight: 700;
    font-size: 40pt;
}

h3 {
    font-weight: 700;
    font-size: 32pt;
}

.demo {
    background-color: #cdebc5;
    color: #36454f;
}

.demo span {
    font-size: 1.2em;
}

.demo img {
    height: 2.5em;
}

byline {
    font-size: 0.65em;
}

.menu {
    background-color: #cdebc5;
    font-family: "Arsenal SC", sans-serif;
}

nav .show ~ .menu {
    background-color: #cdebc5;
    background: #cdebc5;
}

.button {
    background-color: #ffd1dc;
    color: white;
    text-decoration: none;
}

.button:hover, .button:focus {
    background-color: #e67ca8;
    color: #ffd1dc;
    text-decoration: underline;
}

.booking-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 2rem;
    margin-top: 2rem;
}

.form-wrapper {
    padding: 2rem;
    border-radius: 6px;
}

form label {
    display: block;
    font-size: 20pt;
    margin-bottom: 6px;
}

form input, 
form textarea {
    width: 100%;
    padding: 14px;
    background: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    font-size: 14pt;
}

textarea {
    height: 150px;
    resize: vertical;
}

.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.submit-btn {
    display: block;
    margin: 1rem auto 0 auto; 
    background: #f4c9d2;
    color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-size: 18pt;
    border: none;
    cursor: pointer;
    text-align: center;
}

    .submit-btn:hover, .submit-btn:focus {
    background-color: #e67ca8;
    color: #ffd1dc;
    text-decoration: underline;

}


.order-summary {
    display: flex;            
    flex-direction: column;    
    align-items: center;       
    justify-content: flex-start;
    background: white;
    border-radius: 8px;
    padding: 2rem;
    border: 1px solid #ccc;
    width: 100%;               
    max-width: 500px;          
    margin: 0 auto;  

}

.order-summary h2 {
    font-size: 32pt;
    color: #36454f;
    margin-bottom: 1rem;
    align-items: center;
}

.summary-content {
    height: 400px; 
    text-align: center;

}

.sucesspage {
    width: 70vw;                 
    height: 70vh;               
    background-color: white;     
    display: flex;               
    flex-direction: column;      
    justify-content: center;     
    align-items: center;         
    text-align: center;          
    margin: 4rem auto;           
    box-shadow: 0 4px 20px rgba(0,0,0,0.2); 
    padding: 2rem;
    box-sizing: border-box;
}

.sucesspage h1 {
    margin-top: 5%; 
        
}

.sucesspage h3 {
    font-weight: 400;
}


/* BEGIN FONT CLASS DECLARATIONS */

/* Arsenal SC fonts */

.arsenal-sc-regular {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-sc-bold {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-sc-regular-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-sc-bold-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Arsenal fonts */

.arsenal-regular {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-bold {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-regular-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-bold-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* END FONT CLASS DECLARATIONS */
