body {
    /* Default font assignments */
    font-family: "Arsenal", sans-serif;
    font-weight: 450;
    /* End Default Font Assignments */
    background-color: lightgray;
    padding-top: 3.5em;
}

title {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-size: 96pt;
}

p {
    font-weight: 400;
    font-size: 20pt;
}

h1 {
    font-weight: 700;
    font-size: 60pt;
}

h2 {
    font-weight: 700;
    font-size: 40pt;
}

h3 {
    font-weight: 700;
    font-size: 32pt;
}

.demo {
    background-color: #cdebc5;
    color: #36454f;
}

.demo span {
    font-size: 1.2em;
}

.demo img {
    height: 2.5em;
}

byline {
    font-size: 0.65em;
}

.menu {
    background-color: #cdebc5;
    font-family: "Arsenal SC", sans-serif;
}

nav .show ~ .menu {
    background-color: #cdebc5;
    background: #cdebc5;
}

.button {
    background-color: #ffd1dc;
    color: white;
    text-decoration: none;
}

.button:hover, .button:focus {
    background-color: #e67ca8;
    color: #ffd1dc;
    text-decoration: underline;
}

/* BEGIN FONT CLASS DECLARATIONS */

/* Arsenal SC fonts */

.arsenal-sc-regular {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-sc-bold {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-sc-regular-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-sc-bold-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* Arsenal fonts */

.arsenal-regular {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-bold {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-regular-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-bold-italic {
  font-family: "Arsenal", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* END FONT CLASS DECLARATIONS */
